* {
    margin: 0;
    font-family: sans-serif;
}

body {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px 20px;
    width: 385px;
    position: relative;
}

h1 > :last-child {
    color: #999;
    right: 20px;
    position: absolute;
}

.new-todo {
    font-size: 16px;
    border: 1px solid #999;
    box-sizing: border-box;
    height: 42px;
    margin-top: 15px;
}

input.new-todo {
    flex: 0 0 340px;
    padding: 0 10px;
}

.new-todo:hover, input.new-todo:focus {    
    outline: 1px solid orange;
    border-color: orange;
}

i.new-todo {
    align-items: center;
    display: inline-flex;
    flex: 0 0 40px;
    justify-content: center;
}

.todo-list {
    flex: 0 0 100%;
    margin-top: 15px;
}

.fa-trash-alt {
    visibility: hidden;
}

.todo-item:hover .fa-trash-alt {
    visibility: visible;
}

.todo-item:hover .fa-trash-alt:hover, .fa-check-square:hover, .fa-square:hover {
    cursor: pointer;
}

.todo-item {
    align-items: center;
    border: 1px solid #999;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 10px 10px;
    width: 385px;
}

.todo-item > span, .todo-item > input {
    height: 18px;
    font-size: 16px;
    font-weight: normal;
    border: none;
    outline: none;
    width: 310px;
    display: flex;
    align-items: center;
}

.todo-item > input {
    height: 16px;
}

.todo-item:hover {
    outline: 1px solid orange;
    box-shadow: 2px 2px 2px orange;
    border-color: orange;
}

.todo-item:focus-within {
    outline: 1px solid orange;
    border-color: orange;
}